
.tag[href="#drafting"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#drafting"]:after {
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  border-radius: inherit;
  font-weight: 900;
  padding: 3px 8px;
  content: "◩ DRAFTING";
}

.tag[href="#complete"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#complete"]:after {
  font-size: var(--font-tag-preview-size);
  content: "◼ COMPLETE";
  background-color: #131421;
  border-radius: inherit;
  font-weight: 900;
  padding: 3px 8px;
}

.tag[href="#archived"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#archived"]:after {
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  padding: 3px 8px;
  border-radius: inherit;
  font-weight: 900;
  content: "◻ ARCHIVED";
}

.tag[href="#evergreen"],
.tag[href="#fern"],
.tag[href="#incubator"],
.tag[href="#seedling"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#seedling"]:after,
.tag[href="#incubator"]:after,
.tag[href="#fern"]:after,
.tag[href="#evergreen"]:after 
{
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  padding: 3px 8px;
  border-radius: inherit;
  font-weight: 900;
}

.tag[href="#incubator"]:after {
  content: "🎋 INCUBATOR";
  color: #50c878;
}
.tag[href="#fern"]:after {
  content: "🌿 FERN";
  color: #32cd32;
}
.tag[href="#seedling"]:after {
  content: "🌱 SEEDLING";
  color: #66ff66;
}
.tag[href="#evergreen"]:after {
  content: "🌲 EVERGREEN";
  color: #00a86b;
}
.tag:hover:after{
  background-color: var(--background-secondary);
}
