
.tag[href="#snippet"],
.tag[href="#code"],
.tag[href="#article"],
.tag[href="#course"],
.tag[href="#blog"],
.tag[href="#word"],
.tag[href="#paper"],
.tag[href="#note"],
.tag[href="#concept"],
.tag[href="#utility"],
.tag[href="#chapter"],
.tag[href="#plugin"],
.tag[href="#home"],
.tag[href="#moc"],
.tag[href="#youtube"],
.tag[href="#person"],
.tag[href="#video"],
.tag[href="#book"],
.tag[href="#backlog"],
.tag[href="#archieved"],
.tag[href="#completed"],
.tag[href="#inprogress"],
.tag[href="#evergreen"],
.tag[href="#fern"],
.tag[href="#incubator"],
.tag[href="#seedling"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#snippet"]:after,
.tag[href="#code"]:after,
.tag[href="#article"]:after,
.tag[href="#course"]:after,
.tag[href="#blog"]:after,
.tag[href="#word"]:after,
.tag[href="#paper"]:after,
.tag[href="#note"]:after,
.tag[href="#concept"]:after,
.tag[href="#utility"]:after,
.tag[href="#chapter"]:after,
.tag[href="#plugin"]:after,
.tag[href="#home"]:after,
.tag[href="#moc"]:after,
.tag[href="#youtube"]:after,
.tag[href="#person"]:after,
.tag[href="#video"]:after,
.tag[href="#book"]:after,
.tag[href="#backlog"]:after,
.tag[href="#archieved"]:after,
.tag[href="#completed"]:after,
.tag[href="#inprogress"]:after,
.tag[href="#seedling"]:after,
.tag[href="#incubator"]:after,
.tag[href="#fern"]:after,
.tag[href="#evergreen"]:after 
{
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  padding: 3px 8px;
  border-radius: inherit;
  font-weight: 900;
}
.tag[href="#backlog"]:after{
  content: "⚪ BACKLOG";
  color: #ffeeff;
}
.tag[href="#inprogress"]:after{
  content: "🟠 INPROGRESS";
  color: #fcae1e;
}
.tag[href="#completed"]:after{
  content: "🟢 COMPLETED";
  color: #66ff66;
}
.tag[href="#archieved"]:after{
  content: "⚫ ARCHIEVED";
  color: #777766;
}
.tag[href="#plugin"]:after{
  content: " PLUGIN";
  color: #aaaa99;
}
.tag[href="#utility"]:after{
  content: " UTILITY";
  color: #aaaa99;
}
.tag[href="#home"]:after{
  content: " HOME";
  color: #ee5544;
}
.tag[href="#book"]:after{
  content: " BOOK";
  color: #d2317c;
}
.tag[href="#course"]:after{
  content: " COURSE";
  color: #ff317c;
}
.tag[href="#tutorial"]:after{
  content: " TUTORIAL";
  color: #ff317c;
}
.tag[href="#paper"]:after{
  content: " PAPER";
  color: #ffccee;
}
.tag[href="#article"]:after{
  content: " ARTICLE";
  color: #ffccee;
}
.tag[href="#blog"]:after{
  content: "🕸 BLOG ";
  color: #affcee;
}
.tag[href="#moc"]:after{
  content: " MOC";
  color: #a231fc;
}
.tag[href="#note"]:after{
  content: " NOTE";
  color: #f6f680;
}
.tag[href="#chapter"]:after{
  content: " CHAPTER";
  color: #ffcf80;
}
.tag[href="#concept"]:after{
  content: " CONCEPT";
  color: #cfff90;
}
.tag[href="#word"]:after{
  content: "🗨 WORD";
  color: #cfff90;
}
.tag[href="#person"]:after{
  content: " PERSON";
  color: #ff00ff;
}
.tag[href="#snippet"]:after{
  content: "✀ SNIPPET";
  color: #ff55ff;
}
.tag[href="#code"]:after{
  content: " CODE";
  color: #22ffdf;
}

.tag[href="#video"]:after,
.tag[href="#youtube"]:after{
  content: "  VIDEO";
  color: #23c6b4;
}
.tag[href="#incubator"]:after {
  content: "🎋 INCUBATOR";
  color: #50c878;
}
.tag[href="#fern"]:after {
  content: "🌿 FERN";
  color: #32cd32;
}
.tag[href="#seedling"]:after {
  content: "🌱 SEEDLING";
  color: #66ff66;
}
.tag[href="#evergreen"]:after {
  content: "🌲 EVERGREEN";
  color: #00a86b;
}
.tag:hover:after{
  background-color: var(--background-secondary);
}
