
.tag[href="#drafting"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#drafting"]:after {
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  border-radius: inherit;
  font-weight: 900;
  padding: 3px 8px;
  content: "◩ DRAFTING";
}

.tag[href="#complete"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#complete"]:after {
  font-size: var(--font-tag-preview-size);
  content: "◼ COMPLETE";
  background-color: #131421;
  border-radius: inherit;
  font-weight: 900;
  padding: 3px 8px;
}

.tag[href="#archived"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#archived"]:after {
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  padding: 3px 8px;
  border-radius: inherit;
  font-weight: 900;
  content: "◻ ARCHIVED";
}

.tag[href="#seedling"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#seedling"]:after {
  font-size: var(--font-tag-preview-size);
  content: "🌱 SEEDLING";
  background-color: #131421;
  padding: 3px 8px;
  border-radius: inherit;
  font-weight: 900;
}

 .markdown-preview-view a.tag[href="#evergreen"] {
  font-size: 0;
  padding: 0;
}
.tag[href="#evergreen"]:after {
  font-size: var(--font-tag-preview-size);
  background-color: #131421;
  padding: 3px 8px;
  border-radius: inherit;
  font-weight: 900;
  content: "🌲 EVERGREEN";
}
.tag:hover:after{
  background-color: var(--background-secondary);
}
